*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
   
}
body{
    box-sizing: border-box;
    background: #BCBCBC;
}

header{
    background: #FEFEFE;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo-school{
    width: 70%;
    height: auto;
    margin: 0px 20px;
}
.header-top{
    display: flex;
    justify-content: space-evenly;
    height: 86px;
}

.name-school{
    text-transform: uppercase;
    padding-top: 10px;

}
.name-school span{
    color: #0E2D45;
    font-weight: 700;
    font-size: 13px;
    
}
.name-school p{
    color: #E04622;
    font-weight: 700;
    font-size: 13px;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-right{
    display: flex;
    align-items: center;
    width: 80%;

}
.header-right .header-right-text{
    color: #E04622; 
    font-weight: 600; 
    font-size: 13px;
}
.header-right .date{
    margin-right: 20px;
    background: #0E2D45 ;
    color: white;
    font-size: 13px;
    padding: 8px;
    position: relative;
    border-radius: 4px;
}
.header-right .date::after{
    content: '';
    position: absolute;
    background: #0E2D45 ;
    padding: 5px;
    transform: rotate(45deg);
    z-index: 0;
    right: -5px;
    top: 13px;
}
.header-nav {
    background: #0E2D45;
    display: flex;
    justify-content: space-between;
    height: 56px;
}

.header-nav .container{
    display: flex;
    justify-content: space-between;
}

.container .nav-menu {
    display: flex;   
    transition: .5s;
    line-height: 56px;
    
}
.container .nav-menu li{
    position: relative;
    font-size: 13px;
    transition: .2s;
    border-bottom: #BCBCBC;
}
.sub-menu{
    position: absolute;
    z-index: 10;
    background-color: #0E2D45;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    top: 90px;
    border-radius: 4px;
}
.sub-menu li{
    border-bottom: 1px solid #BCBCBC;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-menu li:hover{ 
    background-color: #E04622;
    
}
.container .nav-menu li a{
    color: white;
    text-decoration: none;
    padding: 0px 20px;
    font-weight: 550;
    font-size: 12px;
}
.container .nav-menu .nav-link{
    width: 100%;
    text-align: left;
    
}
.container  .nav-menu .nav-link:hover{
    transition: 0.2s;
    border-radius: 10px;
    background-color: #E04622;
}

.container  .nav-menu li:hover .sub-menu{
    visibility: visible;
    opacity: 1;
    top: 56px;
    transition: .5s;
}

.sub-menu li .fa-arrow-right{
    display: none;
}
.sub-menu li .fa-chevron-right{
    margin-right: 15px;
}
.sub-menu li a{
    width: 100%;
    display: inline-block;
}



.sub-menu .sub-menu-item{
    position: absolute;
    background: #0E2D45;
    top: 0px;
    right: -190px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
}
.sub-menu .sub-menu-item li{
    padding: 0px;
}

.sub-menu li:hover .sub-menu-item{
    visibility: visible;
    opacity: 1;
    right: -203px;
    width: 200px;

}
.sub-menu .fa-chevron-down{
    display: none;
}


/*Css phần searchbox*/
.header-nav .search-box{
    display: flex;
    margin: 7px 0px;
    align-items: center;
    background: white;
    padding: 5px;
    border-radius: 10px;
    width: 20%;
    justify-content: space-between;
}

.search-box input{
    padding-left: 10px;
    outline: none;
    border: none;
    width: 100%;
}
.search-box button{
    background: white;
    padding: 0px 10px;
    border: none;
    outline: none;
}

.popup{
    line-height: 56px;
    display: none;
    
}


.hambuger{
    display: none;
    cursor: pointer;
    margin-top: 15px;
}
.hambuger .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background: white;
    transition: all .3s ease-in-out;
}


/*Css footter*/
footer{
    background: #0E2D45;
    padding-top: 50px;
}
footer .row-footter-top{
    display: flex;
    justify-content: space-around;
    justify-self: start;
}
footer .row-footter-top .info img{
    width: 300px;
}
footer .row-footter-top .info ul{
    display: flex;
    flex-direction: column;

}
footer .row-footter-top .info ul li{
    color: white;
    margin-top: 20px;
    font-size: 14px;
}
footer .row-footter-top .info .info-title{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px;
}
@media screen and (max-width:1300px){
    .slider .cloud{
        bottom: -15rem;
    }
}
@media screen and (max-width:1200px) {
    header .logo-school{
        margin: 0px;
        width: 90%;
    }


    .hambuger{
        display: block;
    } 
    .hambuger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hambuger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }
    .hambuger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg);
    }
    .sub-menu li:hover .sub-menu-item{
        width: 100%;
    }
    .nav-menu{
        display: block;
        position:absolute;
        gap: 10px;
        z-index: 10;
        top: 162px;  
        flex-direction: column;
        background-color: #0E2D45;
        align-items: center;
        justify-content: center;
        width: 100%;
        right: 0;
        overflow: hidden;
        height: auto;
        visibility: hidden;
        opacity: 0;
        padding: 20px;
    }
    .nav-menu li a{
        border-bottom: 1px solid #BCBCBC;
    }
    .sub-menu li a::before{
        content: '>> ';
        padding-left: 30px;
    }
    .sub-menu li a:hover{
        color: #E04622;
        background: #BCBCBC;
        transition: .4s;
    }
    .sub-menu li a:hover>.sub-menu-link{
        color: #E04622;
        background: #BCBCBC;
        transition: .4s;
    }
    .sub-menu-item li a:hover {
        color: #E04622;
        background: #BCBCBC;
        transition: .4s;
    }
    .sub-menu li .sub-menu-item li::before{
        padding-left: 30px;
    }

    .nav-menu li{
        display: inline-block !important;
        width: 100%;
    }

    .nav-menu .nav-link{
        display: inline-block;
        text-align: center;

    }
    .nav-menu li:hover{
        background: transparent !important;
        
    }
    .sub-menu{
        position: unset;
        visibility: visible;
        opacity: 1;
        width: 100%;
       
    }

    .sub-menu .nav-link a:hover{
        background-color: transparent;
        color: #E04622;
    }
    .nav-menu.active{
        top: 142px; 
        visibility: visible;
        opacity: 1;
        width: 100%;
    }
    .sub-menu li .fa-arrow-right{
        display: inline-block;
        margin-left: 20px;
        
    }
    .sub-menu li .fa-chevron-right{
        display: none;
        margin-left: 20px;
        
    }
    .sub-menu .sub-menu-item{
        position: unset;
        background: #0E2D45;
        width: 100%;
        opacity: 1;
        visibility: visible;
    }
    .sub-menu .sub-menu-item li,
    .sub-menu .sub-menu-item li a{
        width: 100%;
        padding-left: 20px;
    }
    .header-nav .search-box{
        width: 80%;
    }
    
}
@media screen and (max-width:992px) {
    .name-school p, 
    .header-right .date,
    .name-school span{
        font-size: 10px;
    }
    
    .header-right .header-right-text{
        font-size: 10px;
    }
}



@media  screen and (max-width:768px) {
    footer .row-footter-top{
        flex-direction: column;
    }
    .header-right{
        display: none;
    }
    
}

@media only screen and (max-width:320px){
    footer .row-footter-top .info img{
        width: 100%;
        height: auto;
    }
}
