header{
    background: #FEFEFE;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
header .logo-school{
    width: 70%;
    height: auto;
    margin: 0px 20px;
}
.header-top{
    display: flex;
    justify-content: space-evenly;
    height: 86px;
}

.name-school{
    text-transform: uppercase;
    padding-top: 10px;

}
.name-school span{
    color: #0E2D45;
    font-weight: 700;
    font-size: 13px;
    
}
.name-school p{
    color: #E04622;
    font-weight: 700;
    font-size: 13px;
}
.header-left{
    display: flex;
    align-items: center;
}
.header-right{
    display: flex;
    align-items: center;
    width: 80%;

}
.header-right .header-right-text{
    color: #E04622; 
    font-weight: 600; 
    font-size: 13px;
}
.header-right .date{
    margin-right: 20px;
    background: #0E2D45 ;
    color: white;
    font-size: 13px;
    padding: 8px;
    position: relative;
    border-radius: 4px;
}
.header-right .date::after{
    content: '';
    position: absolute;
    background: #0E2D45 ;
    padding: 5px;
    transform: rotate(45deg);
    z-index: 0;
    right: -5px;
    top: 13px;
}
.header-nav {
    background: #0E2D45;
    display: flex;
    justify-content: space-between;
    height: 56px;
}

.header-nav .container{
    display: flex;
    justify-content: space-between;
    position: relative;
}

.container .nav-menu {
    display: flex;   
    transition: .5s;
    line-height: 56px;
    margin: 0px !important;
}
.container .nav-menu li{
    position: relative;
    font-size: 13px;
    transition: .2s;
}
.sub-menu{
    position: absolute;
    z-index: 10;
    background-color: #0E2D45;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    top: 90px;
    left: 0;
    border-radius: 4px;
}
.sub-menu li{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-menu li .fa-chevron-right{
    text-align: right;
}
.sub-menu li:hover{ 
    background-color: #E04622;
    
}
.nav-menu .nav-menu-item .btn-down,
.sub-menu li .btn-down-2{
    display: none;
}
.sub-menu li .fa-arrow-right{
    display: none;
}
.sub-menu li .fa-chevron-right{
    margin-right: 15px;
}
.sub-menu li a{
    display: inline-block;
    margin-left: 20px;
}
.container .nav-menu li a{
    color: white;
    text-decoration: none;
    font-weight: 550;
    font-size: 12px;
}
.container .nav-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;

}

.container .nav-menu .nav-link{
    text-align: left;
    padding: 0px 5px 0px 0px !important;
    display: inline-block !important;
}
.container  .nav-menu .nav-menu-item:hover{
    transition: 0.2s;
    border-radius: 10px;
    background-color: #E04622;
}

.container  .nav-menu .nav-menu-item:hover .sub-menu{
    visibility: visible;
    opacity: 1;
    top: 58px;
    left: 0px;
    transition: .2s;
}





.sub-menu .sub-menu-item{
    position: absolute;
    background: #0E2D45;
    top: 0px;
    right: -190px;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}
.sub-menu .sub-menu-item li{
    padding: 0px;
}

.sub-menu li:hover .sub-menu-item{
    visibility: visible;
    opacity: 1;
    right: -202px;
    width: 200px;

}
.sub-menu .fa-chevron-down{
    display: none;
}


/*Css phần searchbox*/
.header-nav .search-box{
    display: flex;
    margin: 7px 0px;
    align-items: center;
    background: white;
    padding: 5px;
    border-radius: 10px;
    width: 20%;
    justify-content: space-between;
}

.search-box input{
    padding-left: 10px;
    outline: none;
    border: none;
    width: 100%;
}
.search-box button{
    background: white;
    padding: 0px 10px;
    border: none;
    outline: none;
}

.popup{
    line-height: 56px;
    display: none;
    
}


.hambuger{
    display: none;
    cursor: pointer;
    margin-top: 15px;
}
.hambuger .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background: white;
    transition: all .3s ease-in-out;
}
.rotate{
    transform: rotate(180deg);
}

/*Css footter*/
footer{
    background: #0E2D45;
    
}
footer .row-footter-top{
    display: flex;
    justify-content: space-around;
    justify-self: start;
}
footer .footter-top{
    display: block;
    padding: 50px 0px;
}
footer .row-footter-top .info img{
    width: 300px;
}
footer .row-footter-top .info ul{
    display: flex;
    flex-direction: column;

}
footer .row-footter-top .info ul li{
    color: white;
    margin-top: 20px;
    font-size: 14px;
}
footer .row-footter-top .info .info-title{
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 30px;
}

footer .footter-bottom{
    border-top: 1px solid #BCBCBC;
}
footer .container .footter-bottom .copyrights{
    display: flex !important;
    justify-content: space-between;
    padding: 20px 0px;
}

footer .footter-bottom .copyright-txt,
footer .footter-bottom .copyright-follow{
    color: white;
    font-size: 14px;
    font-weight: 600;
}

footer .copyright-follow{
    display: flex;
    
}
footer .copyright-follow li{
    margin-right: 20px;
}
@media screen and (max-width:1300px){
    .slider .cloud{
        bottom: -15rem;
    }
}
@media screen and (min-width:1201px) {
    .nav-menu .nav-menu-item .sub-menu{
        display: block !important;
    }
    .nav-menu .nav-menu-item .sub-menu .sub-menu-item{
        display: block !important;
    }
}
@media screen and (max-width:1200px) {
    header .logo-school{
        margin: 0px;
        width: 90%;
    }
    .hambuger{
        display: block;
    } 
    .hambuger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hambuger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(-45deg);
    }
    .hambuger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(45deg);
    }
    .header-nav .search-box{
        width: 80%;
    }
    .sub-menu li:hover .sub-menu-item{
        width: 100%;
    }
    .sub-menu li .btn-down-2{
        display: block;
    }
    .nav-menu{
        display: none;
        position:absolute;
        z-index: 10;
        top: 70px;  
        flex-direction: column;
        background-color: #0E2D45;
        align-items: center;
        justify-content: center;
        width: 100%;
        left: 0;
        overflow: hidden;
        height: auto;
        visibility: hidden;
        opacity: 0;
        padding: 20px;
    }
   
    .container .nav-menu .nav-link{
        padding: 0.5rem 1rem !important; 
    }
    .container .nav-menu li a{
        font-size: 20px;
    }
    .container .nav-menu-item .btn-down{
        position: absolute;
        right: 60px;
        top: 20px;
        transition: .3s;
        font-size: 20px;
    }
    
    .container .nav-menu-item .dropdown-btn{
        font-size: 23px;
        padding: 10px;
        cursor: pointer;
        border-radius: 50%;
        transition: .3s;
    }
    .container .nav-menu-item .btn-down i:hover{
        background: #BCBCBC;
        color: #E04622 !important;
    }


    .sub-menu li a::before{
        content: '> ';
        padding-left: 30px;
    }
    .sub-menu-item li a::before{
        content: '>> ';
        padding-left: 30px;
    }
    .sub-menu li a:hover{       
        background: #E04622;
        transition: .4s;
    }

    .sub-menu-item li a:hover{
        background: #E04622;
        transition: .4s;
    }
    .sub-menu li .sub-menu-item li::before{
        padding-left: 30px;
    }

    .nav-menu li{
        display: inline-block !important;
        width: 100%;
    }
    

    .nav-menu li:hover{
        background: transparent !important;
        
    }
    
    .sub-menu{
        position: unset;
        opacity: 1;
        visibility: visible;
        display: none;
        width: 100%;
        transition: .3s;
       
    }

    .sub-menu .nav-link a:hover{
        background-color: transparent;
        color: #E04622;
    }
    .nav-menu.active{
        top: 56px; 
        visibility: visible;
        opacity: 1;
        width: 100%;
        display: block;
        transition: .3s;
    }
    .container .nav-menu li a:hover{
        background: none;
        color: #E04622;       
    }
    .sub-menu .sub-menu-item{
        position: unset;
        background: #0E2D45;
        width: 100%;
        opacity: 1;
        visibility: visible;
        display: none;
    }
    .sub-menu .sub-menu-item li,
    .sub-menu .sub-menu-item li a{
        width: 100%;
        padding-left: 20px;
    }
    .sub-menu li .fa-chevron-right{
        display: none;
    }
    .sub-menu li .fa-chevron-down{
        display: block;
        position: absolute;
        font-size: 20px;
        cursor: pointer;
        right: 41px;
        top: 20px;
        border-radius: 50%;
        transition: .2s;
        padding: 10px;
    }
    .sub-menu li .fa-chevron-down:hover{
        background: #BCBCBC;
        color: #E04622 !important;
    }
    .sub-menu-title .fa-chevron-down:hover{
        background: #BCBCBC;
        color: #E04622 !important;
    }
    .nav-menu .nav-menu-item .btn-down{
        display: block;
        }
    i.down-menu-chinh{
        display: none;
    }
}
@media screen and (max-width:992px) {
    .name-school p, 
    .header-right .date,
    .name-school span{
        font-size: 10px;
    }
    
    .header-right .header-right-text{
        font-size: 10px;
    }
}



@media  screen and (max-width:768px) {
    footer .row-footter-top{
        flex-direction: column;
    }
    .header-right{
        display: none;
    }
    
}
@media screen and (max-width:600px) {
    footer .copyrights{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    footer .footter-bottom .copyright-txt, 
    footer .footter-bottom .copyright-follow{
        padding: 10px;
    }
    footer .footter-bottom .copyright-follow{
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width:500px) {
    .container .nav-menu .nav-link{
        font-size: 15px;
    }
    .sub-menu li .fa-chevron-down{
        top: 10px;
        right: -15px;
        font-size: 14px;
    }
    .sub-menu li a{
        font-size: 15px !important;
    }
    .container .nav-menu-item .btn-down{
        right: 0px;
        top: 15px;
        

    }
    .sub-menu li a::before{
        padding-left:20px ;
    }
    .sub-menu-item li a::before{
        padding-left: 10px !important;
    }
}
@media only screen and (max-width:320px){
    footer .row-footter-top .info img{
        width: 100%;
        height: auto;
    }
}
