*{
    padding: 0;
    margin: 0;
    list-style: none;
   
}
body{
    box-sizing: border-box;
    background: #BCBCBC;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.section{
    margin-top: 1rem;
}
/*Css slider*/
.carousel-indicators{
    z-index: 1 !important;
}
.carousel-item{
    max-width: 100%;
    height: auto;
    
}
.d-block{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider{
    position: relative;
    overflow: hidden;
}
.slide{
    width: 100%;
    height: auto;
}

.slider .cloud{
    position: absolute;
    left: 0;
    z-index: 0;
    bottom: -15rem;
    width: 100%;
    height: 65%;
}

/*Phần giới Tiêu điểm*/
.cards{
    --spacing:2rem;
    --columns:3;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left:  calc(calc(-1 * var(--spacing))/2);;
}

.cards .card{
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: var(--spacing);
}
.card .card-top{
    width: 100%;
    max-height: 60%;
}
.card-top .avt-card{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-content{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.card-title{
    color: #E04622;
    font-size: 22px;
    font-weight: 600;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 3rem;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
.card-describe{
    color: #595857;
    font-size: 15px;
    font-weight: 400;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 82px;
    font-size: 14px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.card-btn{
    display: flex;
    background: #0E2D45;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 4px;
    border: none;
    margin-top: auto;
    width: 50%;
    height: 30%;
    text-decoration: none;
    margin-top: 20px;
    flex-shrink: 0;
}
.card-btn:hover{
    background: #E04622;
    color: white;
    text-decoration: none;
    transition: .3s;
}

/*Phần giới thiệu trường*/
h1.title{
    text-transform: uppercase;
    display: block;
    padding: 40px;
    text-align: center; 
    font-weight: 700; 
    margin-bottom: 0;
}

.about-school{
    background: #0E2D45;
    position: relative;
    height: auto;
    width: 100%;
    font-weight: 520;
    padding: 20px;
}
.about-school .container{
    display: flex;
}
.about-school-show .about-school-title{
    font-weight: 700px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    margin-bottom: 10px;
}


.about-school .about-school-show{
    position: relative;
    background-color:white ;
    width: 60%;
    z-index: 2;
    padding: 20px;
    
}

.about-school .about-img img{  
    width: 100%;
}
/*Đội ngũ giáo viên*/

.item-teacher .item-teacher-avt{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;

}
.item-teacher .item-teacher-avt img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-teacher .item-teacher-name{
    font-size: 18px;
    font-weight: 700;
    color: #0E2D45;
    margin: 10px 0px;
    text-transform: uppercase;
}
.item-teacher .item-teacher-chuc{
    font-size: 16px;
    margin-bottom: 12px;
    font-weight: 600;

}
.item-teacher .item-teacher-mota{
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 43px;
    margin: 0 auto;
    font-size: 14px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-teacher .social{
    display: block;
    margin-top: 20px;
}
.item-teacher .social a{
    margin: 5px;
    padding: 10px;
    border-radius: 50%;
}
.item-teacher .social a:hover {
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    background:#ecf0f1;
    transition: .3s;
}
.item-teacher .social a i{
    font-size: 20px;
    color: #595857;
}

.slick-prev, .slick-next{
    width: 50px;
    height: 50px;
    background: #b2bec3 ;
    position: absolute;
    border-radius: 50%;
    z-index: 10;
    padding: 20px ;
    display: flex ;
    justify-content: center ;
    align-items: center ;
}
.slick-prev:hover, .slick-next:hover{
    background: #E04622;
    transition: .3s;
}
.slick-prev{
    outline: none;
    border: none;
    top: 50%;
    left: -20px ;
    transform: translateY(-50%);
}
.slick-next{
    outline: none;
    border: none;
    top: 50%;
    right: -20px ;
    transform: translateY(-50%);
}
.slick-slide{
    position: relative;
    margin: 2rem;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
.slick-dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25px;
    gap: 0 20px;
    display: flex !important;

}
.slick-dots button{
    font-size: 0px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    outline: none;
    background: #eee;
    transition: .4s ease-in-out;   
}
.slick-dots .slick-active button{
    background: #E04622;  
}
/*Tin tức nổi bật*/
.featured-news{
    background: #F2F5F9;
    height: 50%;
    position: relative;
    padding-bottom: 2rem;
}

.news-cards{
    --spacing:30px; /*Khoảng cách giữa các card*/
    --columns:3;    /*Số cột trên 1 hàng*/
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(calc(-1 * var(--spacing))/2);
}
.news-cards .news-card{
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: var(--spacing);
    position: relative;
}

.news-cards a.news-card:hover{
    transform: scale(1.01);
    transition: .3s;
    text-decoration: none;
}

.news-card .date-post{
    position: absolute;
    background: #E04622;
    color: white;
    font-size: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 600;
    bottom: -25px;
    z-index: 10;
    left: 2%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 4px;
}
.news-card .news-card-top{
    width: 100%;
    max-height: 50%;
    position: relative;
}
.news-card .news-card-top img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.news-card .news-card-bottom{
    padding: 20px;
}
.news-card-bottom .news-card-title{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #091232;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 55px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
.news-card-bottom .news-card-content{
    font-size: 15px;
    color: #595857;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 66px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
a.btn-show-all{
    width: 140px;
    display: block;
    margin: 10px auto;
    background-color: #E04622;
    text-align: center;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 4px;
}



.news-cards .news-card-link{
    width: calc(calc(100% / var(--columns)) - var(--spacing));
    margin-left: var(--spacing);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: var(--spacing);
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}
.news-cards .news-card-link::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left, rgba(245, 246, 252, 0), rgba(14, 45, 69, 1));
}
p#name-school-link{
    color: white;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    position: absolute;
    z-index: 10;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.news-card-link img{
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

#backtop{
    padding: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #E04622;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    z-index: 100;
}
@media only screen and (max-width:1200px) {
    .slider .cloud{
        bottom: -10rem;
    }
    .about-school .about-img img{
        width: 40%;
        right: 100px;
    }
    .about-school .about-school-show{
        width: 60%;
        position: relative;
        margin: 4rem;
        left: 50px;
        top: 50px;
    }
}

@media only screen and  (max-width:1000px) {    
    .cards{
        --spacing:1.5rem;
        --columns:2;   
        display: flex;    
        justify-content: center;
    }
    
    .about-school .container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
    }
    .about-school .about-img{
        position: relative;
        width: 50%;
    }
    .about-school .about-img img{
        position: relative;
        width: 100%;
        right: 0;
        top: 0;
        margin-bottom: 2rem;
    }
    .about-school .about-school-show{
        width: 80%;
        position: relative;
        margin: 2rem;
        left: 0;
        top: 0;
    }
    .news-cards{
        --spacing:2rem; /*Khoảng cách giữa các card*/
        --columns:2;    /*Số cột trên 1 hàng*/
    }
    
}
@media only screen and (max-width:768px) {
    h1.title{
        font-size: 25px;
    }
    .cards{
        --spacing:2rem;
        --columns:2;   
        display: flex;    
        justify-content: center;
    }
    .news-cards{
        --columns:2;  
    }
    .news-card-bottom .news-card-content{
        font-size: 16px;
        display: block;
        display: -webkit-box;
        max-width: 100%;
        height: 77px;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .news-card .date-post{
        font-weight: 600;
        bottom: -25px;
        left: 2%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 4px;
        font-size: 15px;
    }
}
@media only screen and (max-width:570px){
    .cards{
        --columns:1;   
    }
    .news-cards{
        --columns:1;  
    }
    .news-card .date-post{
        font-weight: 600;
        bottom: -25px;
        left: 2%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 4px;
        font-size: 15px;
    }
    .about-school-show .about-school-content{
        font-size: 12px;
    }
}

@media screen {
    
}








